<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Search Customer</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="createCustomer.css" />
    <style>
      h2 {
        margin-left: 35vw;
      }
      form {
        /* border: 2px solid black; */
        padding: 2rem;
        margin-top: 10rem;
      }

      .btn {
        margin-left: 40vw;
      }
    </style>
  </head>
  <body>
    <h2>Search All Customers</h2>
    <form method="post" action="/searchAllCustomers">
      <button type="submit" class="btn btn-primary btn-block mb-4">
        Search
      </button>
    </form>
  </body>
</html>
